<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallera</title>
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/addGalleryItem.css">
    <link rel="stylesheet" href="CSS/buttonBar.css">

</head>
<%- include("../navbar/header.ejs") %>
<script src="JS/header.js"></script>
<body>
    
    <div class="container-column">
        <form method="post" action="/sendingAddItem" enctype="multipart/form-data">

            <div>
                <input type="file" id="insertImage" name="image">
            </div>

            <div>
                <label for="Date" style="font-weight: 600;">Date:</label>
                <input type="datetime-local" id="datetime" name="datetime" style="font-weight: 600;">
            </div>
            <div>
                <!-- <label for="Topic" style="font-weight: 600;">Topic:</label> -->
                <input  type="text" style="font-weight: 600;" name="topic" placeholder="Topic" >
            </div>
            <div>
                <label for="Content" style="font-weight: 600;"></label>
                <textarea style="font-weight: 400; width:400px; height: 80px;" name="content" placeholder="Write a story."></textarea>
            </div>
            <button type="submit" class="button-01 submit">
                <img src="https://cdn-icons-png.flaticon.com/512/1237/1237946.png" alt="Add icon" width="14px" height="14px">
            </button>
        </form>
    </div>

</body>
</html>