* {
    cursor: default;
}

#button-bar {

    display: flex;
    flex-direction: row;
    
    border-bottom: dashed 1px rgb(42, 42, 42);
    padding-left: 120px;
    height: 80px;

    justify-content: right;
    align-items: center;   
    
    font-weight: 600;

}

.button-01 {

    background-color: aliceblue;
    border:0;
    border-radius: 10px;
    margin: 10px 16px;
    padding: 16px;

    height: 10px;
    width: 10px;

    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 4px;     
    
    transform: scale(1);

    transition: transform;
    transition-duration: .2s;
}

.button-01.submit{
    height: 40px;
    width: 60px;
}
.button-01:hover{
    transform: scale(1.1) rotate(2deg);
}

.button-01:active{
    transform: scale(1.25) rotate(2deg);
}