<div id="button-bar">
  <div class="button-01" id="add-button">
    <img src="https://cdn-icons-png.flaticon.com/512/1237/1237946.png" alt="Add icon" width="14px" height="14px">

  </div>
</div>

<!-- <a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by Ilham Fitrotul Hayat - Flaticon</a> -->